Source: nassl
Section: python
Priority: optional
Maintainer: Kevin Chevreuil - Kaisen <kaisen@kaisenlinux.org>
Build-Depends: ca-certificates,
               debhelper-compat (= 13),
               dh-python,
               python3-all-dev,
               python3-pip,
	       python3-pytest,
               python3-requests,
               python3-setuptools,
	       python3-invoke,
               wget,
	       mypy,
	       flake8,
Standards-Version: 4.6.0
Homepage: https://github.com/nabla-c0d3/nassl
Vcs-Git: https://gitlab.com/kaisenlinux/packages/nassl.git
Vcs-Browser: https://gitlab.com/kaisenlinux/packages/nassl

Package: python3-nassl
Architecture: amd64 i386 arm64
Depends: python3,
	 ${shlibs:Depends},
	 ${misc:Depends},
Description: Experimental OpenSSL wrapper for Python 3
 Experimental Python wrapper for OpenSSL. Do NOT use for anything serious. This
 code has not been properly tested/reviewed and is absolutely not production
 ready. For example, nassl uses an insecure, outdated version of OpenSSL.
 .
 This wrapper is needed by SSLyze.
