#!/usr/bin/make -f

export PYBUILD_NAME=nassl
export PYTHONPATH=$PYTHONPATH:debian/build
export DEB_BUILD_OPTIONS=nocheck

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build:
	pip3 install -t debian/build invoke
	debian/build/bin/invoke build.all
	dh_auto_build
